html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

body {
  background-color: aliceblue;
}

body::-webkit-scrollbar {
  display: none;
}

.main-container {
  position: absolute;
  width: 100vw;
  height: 100vh;

}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@1,700&display=swap');

.up-header {
  position: relative;
  height: 3vh;
  width: 100vw;
  background-color: rgb(136, 14, 136);
  z-index: 1;
}

.up-icon {
  position: relative;
  left: 4.3vw;
  height: 2vh;
  margin: 0.3vh;
  margin-left: 5vw;
  fill: rgb(255, 240, 156);
}

header {
  position: fixed;
  top: 0px;
  z-index: 2;
}

.header {
  width: 100vw;
  height: 17vh;
  border-bottom: 1.8px rgba(183, 182, 182, 0.475) solid;
  display: flex;
  background-color: white;
  overflow: hidden;
  z-index: -1;
}

.img-logo {
  position: relative;
  top: -5vh;
  left: 5vw;
  height: 24.9vh;
  width: 17vw;
  border-bottom: 1.8px rgba(183, 182, 182, 0.475) solid;
}

.home-button {
  width: 8.7vw;
  height: 8.7vh;
  margin-left: 3.3vw;
  background-color: rgba(254, 255, 174, 0);
  position: relative;
  left: 37%;
  top: 50%;
  transform: translate(-100%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50%;
  cursor: pointer;
  transition: 0.8s;
  font-family: 'Lobster', cursive;
  font-size: 45px;
}

.icon-lupa {
  width: 3.8vw;

}

.icon-lupa path {
  fill: transparent;
  stroke: 10;
  stroke: black;
  transition: 3s;
}

.icon-lupa:hover path {
  stroke-dasharray: 110;
  stroke-dashoffset: 220;
}

.c0:hover {
  box-shadow: 6px 6px 20px rgba(250, 230, 80, 0.367);
  left: 36%;
  top: 49%;

}

.c1:hover {

  box-shadow: 6px 6px 20px rgba(80, 250, 239, 0.33);
  left: 36%;
  top: 49%;
}

.c2:hover {

  box-shadow: 6px 6px 20px rgba(196, 57, 255, 0.301);
  left: 36%;
  top: 49%;
}

.search {
  border-radius: 3%;
  width: 10vw;
  height: 4vh;
  left: 34vw;
  transition: 3.6s;
  font-size: 28px;
  display: none;
  animation-name: none;
  animation-duration: 1.4s;
  animation-iteration-count: 1;
  opacity: 0.6;
  font-family: Arial, Helvetica, sans-serif;

}

.search::placeholder {
  font-family: 'Lobster';
}

.side-menu {
  position: fixed;
  top: 20vh;
  background-color: rgba(131, 23, 170, 0.974);
  width: 5vw;
  height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s;
  z-index: 1;
}

.category {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.8s;
  font-family: 'Lobster Two', cursive;
  font-size: 3.3vw;
  color: rgb(240, 248, 255);
  margin: 10px;
  height: 5vh;
  width: 22vw;
  position: relative;
  margin-bottom: 2.9vh;
  top: 1vh;
}

.category:hover {
  color: orangered;
}

@keyframes Show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

div.arrow {
  width: 6vmin;
  height: 6vmin;
  box-sizing: border-box;
  position: absolute;
  left: 6vw;
  top: 45%;
  transform: rotate(45deg);
  animation-name: blink;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  transition: 1s;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    border-width: .8vmin .8vmin 0 0;
    border-style: solid;
    border-color: #5e4444;
    transition: .6s ease;
    display: block;
    transform-origin: 100% 0;
    border-radius: 3%;
  }


  &:after {
    content: '';
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 .8vmin 0 0;
    border-style: solid;
    border-color: #4e3737;
    transform-origin: 100% 0;
    transition: .6s ease;
    border-radius: 3%;
  }

  &:hover::after {
    transform: rotate(45deg);
    border-color: rgb(78, 71, 58);
    height: 120%;
    border-radius: 3%;
  }

  &:hover::before {
    border-color: rgb(79, 72, 58);
    transform: scale(.8);
    border-radius: 3%;

  }

}

.Pbody {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(113, 68, 168, 0.840795693277311) 100%);
  padding-right: 3vw;
  height: 300vh;
  overflow-x: hidden;
  width: 97vw;
  position: absolute;
  top: 20vh;
  left: 0vw;
  z-index: 0;
  display: flex;
  transition: 1.7s;
}

.text1 {
  cursor: pointer;
  color: hsl(0, 100%, 95%);
  font-size: 1.06vw;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 13vw;
  top: 25vh;
  width: 22vw;
  height: 3vw;
  border-radius: 50px;
  border: 3px rgb(239, 188, 246) solid;
  padding: 10px;
  background-color: purple;
  z-index: 1;
  transition: 1s;
}

.text2 {
  cursor: pointer;
  color: hsl(0, 100%, 95%);
  font-size: 1.06vw;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 13vw;
  top: 47vh;
  width: 22vw;
  height: 3vw;
  border-radius: 50px;
  border: 3px purple solid;
  padding: 10px;
  background-color: purple;
  z-index: 1;
  transition: 1s;
}

nav {
  margin: 0.26vw;
  font-weight: bolder;
  font-size: 1.1vw;
}

.text2:hover {
  top: 46vh;
  left: 12.4vw;
  box-shadow: 10px 10px 14px rgba(113, 68, 168, 0.840795693277311);
  color: purple;
  background-color: rgb(251, 239, 255);
  border-color: purple;
}

.text1:hover {
  top: 24.4vh;
  left: 11.7vw;
  box-shadow: 10px 10px 14px rgba(113, 68, 168, 0.840795693277311);
  color: purple;
  background-color: rgb(251, 239, 255);
  border-color: purple;
}

.home-photo {
  position: absolute;
  height: 40vh;
  width: 20vw;
  top: 17vh;
  transition: 1.1s;
  display: block;
  z-index: -1;
  border-radius: 10px;
}

.p1 {
  transform: scale(0.7) translate(20%);
  left: 37%;
  opacity: 0.4;

}

.p2 {
  transform: scale(1.3);
  left: 60%;
}

.p3 {
  transform: scale(0.7) translateX(-20%);
  left: 83%;
  opacity: 0.4;
}

.p4 {
  position: absolute;
  z-index: -3;
  transform: scale(0.7) translateX(-50%);
  left: 67%;
  opacity: 0;
}

.img1 {
  background-image: url(../img/photo1.jpg);
  background-size: cover;
}

.img2 {
  background-image: url(../img/photo2.jpg);
  background-size: 100% 130%;
}

.img3 {
  background-image: url(../img/photo3.jpg);
  background-size: cover;
}

.img4 {
  background-image: url(../img/photo4.jpg);
  background-size: cover;
}

.content {
  background-color: rgba(81, 81, 69, 0.597);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;
  left: 10vw;
  top: 50vh;
  z-index: 2;
  transform: translate(-50%, -50%);
  overflow: visible;
  cursor: pointer;

  &:hover {

    polygon {
      fill: #fee8e8;
      transition: all .2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-middle {
        transform: translateY(18px)
      }

    }

  }

  p {
    margin: 0 0 20px;
  }

}

.more-arrows {
  width: 75px;
  height: 65px;
  z-index: -2;



}

polygon {
  fill: #fff5f5;
  transition: all .2s ease-out;

  &.arrow-middle {
    opacity: 0.75;
  }

  &.arrow-top {
    opacity: 0.5
  }

}

.switch1 {
  position: absolute;
  transform: rotate(90deg) translate(-20%, 0);
  left: 74vw;
  top: 20.6vh;
}

.switch2 {
  position: absolute;
  transform: rotate(-90deg) translate(100%, 0%);
  top: 57vh;
  left: 62vw;
}

.news-container {
  position: absolute;
  top: 69vh;
  display: flex;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: #fff6f6;
  width: 100%;
  height: 20vh;
}

$base: 0.6rem;



.chevron {

  position: absolute;
  left: 57%;
  width: $base * 6.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: white;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    transform: translateY($base * 3.8);
  }

  66.6% {
    opacity: 1;
    transform: translateY($base * 6.2);
  }

  100% {
    opacity: 0;
    transform: translateY($base * 9) scale(0.8);
  }
}

.news {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 70%;
  width: 93vw;
  left: 5vw;
  height: 140vh;
}

.column {
  width: 100vw;
  height: 30vh;
  margin-top: 10px;
  display: flex; 
  transition: 1s;

}

.r {
  background-color: gray;
  height: 28vh;
  margin: 10px;
  width: 17.8vw;
  transition: 0.8s;
  display: block;
  top: 0;
  left: 0;
  border-radius: 10px;
  position: relative; 
  object-fit: fill; 
  z-index: 0; 
  cursor: pointer;
}
.r:hover {
  transform: scale(1.25); 

} 
.freteContainer{
  position: absolute;
  top: 220vh; 
  left: 50vw; 
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: #fff6f6;
  width: 100%;
  height: 20vh;
} 
.freteText{
  position: absolute; 
  top: 15vh; 
  left: 48vw;  
  transform: translate(-50%); 
  background-color: plum; 
  border: 2px solid orchid; 
  height: 6vh; 
  width: 14vw;   
  font-size: 30px;
  padding-left: 2vw; 
  border-bottom-left-radius: 16px; 
  border-top-left-radius: 16px;   
  color: white;
  cursor:text;
}   
.freteText::placeholder{
  color: #c093c2ac;
}
.freteText:focus + .freteCheck {
  outline: 2px purple solid;
}  
.freteText:focus {
  outline: 2px purple solid;
} 

.freteCheck{
  position: absolute; 
  top: 15vh; 
  left: 52.01vw;  
  background-color: plum; 
  border: 2px solid orchid; 
  height: 6.4vh; 
  width: 9vw;   
  font-size: 30px;
  border-top-right-radius: 16px;  
  border-bottom-right-radius: 16px;  
  padding-left: 0.3vw; 
  font-family: 'Lobster', cursive; 
  color: white;
  cursor: pointer;
} 
.resposta{
  position: absolute; 
  top: 30vh; 
  left: 50vw; 
  transform: translate(-50%);
} 

.switch {
  position: absolute; 
  top: 23.2vh; 
  left: 39.9vw;
  display: inline-block;
  width: 60px;
  height: 34px; 
  
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: plum; 
  border: 2px solid orchid;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ec21f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.ask{
  position: absolute; 
  font-size: 1vw; 
  width: 11vw; 
  top: 0.4vh; 
  left: 4.2vw;
}


